<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
     content="width=device-width, initial-scale=1.0">
    <title>To-doList</title>    
    <link rel="stylesheet" href="../static/style.css">
</head>


<body>
    <h1>-- Lista de Tareas --</h1>

    <form method="POST" action="/agregar">
        <div class="input-group">
            <input type="text" placeholder="Título..." name="titulo" required>
            <input type="text" placeholder="Escribe una nueva tarea..." name="descripcion" required>
        </div>

        <button type="submit">Agregar</button>

    </form>
    <ul>
    {% for tarea in tareas %}
    <li class="tarea-item">
       
        <strong>{{ tarea.titulo }}</strong>
        <span class="tarea-item {{ tarea.estado }}" >{{ tarea.datos }}</span>
        
        
        
        <div class="botones">
            
            
            <form method="POST" action="/completar">
                <input type="hidden" name="descripcion" value="{{ tarea.datos }}">    
                <button type="submit">
                    {{ metodos.completar_pendiente(tarea.datos) }}
                </button>
            </form>


                 
            <form method="POST" action="/eliminar">
                <input type="hidden" name="descripcion" value="{{ tarea.datos }}">
                <button type="submit">
                    Eliminar
                </button>
            </form>

                    
        </div>
    </li>
    {% endfor %}
    </ul>

</body>



</html>